{% extends "layout.html" %}   
{% block content %} 
    <div class="jumbotron">
      <h1 class="display-4">REAL TIME TRAFFIC SURVEILLANCE</h1>
      <p class="lead">Machine Learning based web application for Automatic Detection of Bike-riders without Helmet
        using Surveillance Videos in Real-time</p>
      <hr class="my-4">
      <p>Two-wheeler is a very popular mode of transportation in
        almost every country. However, there is a high risk involved
        because of less protection. To reduce the involved risk, it is
        highly desirable for bike-riders to use helmet. Observing the
        usefulness of helmet, Governments have made it a punishable
        offense to ride a bike without helmet and have adopted manual
        strategies to catch the violators.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/display" role="button">DO SURVEILLANCE</a>
      </p>
    </div>  
{% endblock %}

